.top-header {
    width: 100vw;
    height: 66vh;
    background-image: url('../images/top-header-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .icons-div {
        padding: 3%;
        display: flex;
        justify-content: space-between;
        .barcode-div {
            cursor: pointer;
        }
        .share-div {
            cursor: pointer;
        }
    }
}

.material-icons {
    .md-48 {
        font-size: 18px;
    }
    .md-light {
        color: rgba(255, 255, 255, 1);
        .md-inactive {
            color: rgba(255, 255, 255, 0.3);
        }
    }
}

.round-img-main-div {
    padding-left: 45%;
    padding-right: 45%;
    display: flex;
    .inner-div-round-img {
        background-image: url('../images/profile.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 40vh;
        width: 100%;
        border-radius: 50%;
        margin-top: -50%;
    }
}